* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
  }
  
  .row__poster {
    width: 100%;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 800ms;
  }
  
  .row__poster:hover {
    transform: scale(1.1);
  }
  
  .row__posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
  }
  .row__posters::-webkit-scrollbar {
    display: none;
  }
  
  .row__posterLarge {
    max-height: 250px;
  }
  
  .row__posterLarge:hover {
    transform: scale(1.2);
  }
  
  .row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
  }
  
  .banner {
    background-image: url("./Assets/banner.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 450px;
  }
  
  .banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 150px;
  }
  
  .banner__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  
  .banner__description {
    width: 35rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 100px;
  }
  
  .banner__button {
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    background-color: rgba(109, 108, 108, 0.375);
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    transition: all ease 0.2s;
  }
  
  .banner__button:hover {
    background-color: rgba(236, 226, 226, 0.852);
    color: black;
  }
  
  .fade__Bottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, rgba(31, 31, 31, 0.6), #111);
  }
  
  .logo {
    width: 120px;
    object-fit: contain;
  }
  
  .avatar {
    width: 40px;
    object-fit: contain;
  }
  
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition: all ease-in 0.5s;
  }
  
  .nav__black {
    background-color: #111;
  }